.navbar-nav > .user-menu > .nav-link:after {
     content: none;
}
.navbar-nav > .user-menu > .dropdown-menu {
     border-top-radius: 0;
     padding: 0;
     border-top-width: 0;
     width: 280px;
}
 .navbar-nav > .user-menu > .dropdown-menu, .navbar-nav > .user-menu > .dropdown-menu > .user-body {
     border-bottom-radius: 4px;
}
 .navbar-nav > .user-menu > .dropdown-menu > li.user-header {
     height: 175px;
     padding: 10px;
     text-align: center;
}
 .navbar-nav > .user-menu > .dropdown-menu > li.user-header > img {
     z-index: 5;
     height: 90px;
     width: 90px;
     border: 3px solid;
     border-color: transparent;
     border-color: rgba(255, 255, 255, 0.2);
}
 .navbar-nav > .user-menu > .dropdown-menu > li.user-header > p {
     z-index: 5;
     color: #fff;
     color: rgba(255, 255, 255, 0.8);
     font-size: 17px;
     margin-top: 10px;
}
 .navbar-nav > .user-menu > .dropdown-menu > li.user-header > p > small {
     display: block;
     font-size: 12px;
}
 .navbar-nav > .user-menu > .dropdown-menu > .user-body {
     padding: 15px;
     border-bottom: 1px solid #f4f4f4;
     border-top: 1px solid #ddd;
}
 .navbar-nav > .user-menu > .dropdown-menu > .user-body::after {
     display: block;
     content: "";
     clear: both;
}
 .navbar-nav > .user-menu > .dropdown-menu > .user-body a {
     color: #444 !important;
}
 @media (min-width: 576px) and (max-width: 767.98px) {
     .navbar-nav > .user-menu > .dropdown-menu > .user-body a {
         background: #fff !important;
         color: #444 !important;
    }
}
 .navbar-nav > .user-menu > .dropdown-menu > .user-footer {
     background-color: #f9f9f9;
     padding: 10px;
}
 .navbar-nav > .user-menu > .dropdown-menu > .user-footer::after {
     display: block;
     content: "";
     clear: both;
}
 .navbar-nav > .user-menu > .dropdown-menu > .user-footer .btn-default {
     color: #666;
}
 @media (min-width: 576px) and (max-width: 767.98px) {
     .navbar-nav > .user-menu > .dropdown-menu > .user-footer .btn-default:hover {
         background-color: #f9f9f9;
    }
}
 .navbar-nav > .user-menu .user-image {
     float: left;
     width: 25px;
     height: 25px;
     border-radius: 50%;
     margin-right: 10px;
     margin-top: -2px;
}
 @media (min-width: 576px) and (max-width: 767.98px) {
     .navbar-nav > .user-menu .user-image {
         float: none;
         margin-right: 0;
         margin-top: -8px;
         line-height: 10px;
    }
}